.column {
  composes: col-sm-2 from 'flexboxgrid';
}

.columnValue {
  margin-left: 0;
  margin-bottom: 2rem;
}

.columnTitle {
  composes: bold from "../../../css-common/typography.css";
  margin-bottom: .5rem;
}

.input {
  composes: input from '../../../css-common/forms.css';
}
