.columnTitle {
  composes: bold from "../../../css-common/typography.css";
  margin-bottom: 6px;
}

.columnValue {
  margin-left: 0;
  margin-bottom: 24px;
}

.column {
  composes: col-sm-2 from 'flexboxgrid';
}

.arrayValue {
  margin-bottom: 0;
  margin-top:0;
}

.singleData {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.delete {
  composes: button from '../../../css-common/forms.css';
  margin-left: 6px;
  border-radius: 9999px;
  padding: 0;
  flex-basis: 24px;
  min-width: 24px;
  height: 24px;
}

.addAnother {
  composes: primary from '../../../css-common/colors.css';
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 0;
  margin-bottom: 12px;
}

.dataType {
  flex: 1;
}

.input {
  composes: input from '../../../css-common/forms.css';
}
