.columnsRow {
  margin: 0;
  padding: 10px 0 10px 0;
}

.columnTitle {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
}

.columnValue {
  margin: 0;
}

.borderBottom {
  border-bottom: solid 1px #ddd;
}

.column {
  flex-basis: 14.285%;
  max-width: 14.285%;
  padding: 10px 20px;
}

.listContainer {
  margin: 0px;
  padding: 0px;
}

.basicInfo {
  width: 150px;
  padding: 10px;
}
