.columnTitle {
  composes: bold from "../../../css-common/typography.css";
  margin-bottom: 6px;
}

.columnValue {
  margin-left: 0;
  margin-bottom: 24px;
}

.column {
  composes: col-sm-2 from 'flexboxgrid';
  max-width: 100%;
}

.image {
  max-width: 100%;
  max-height: 90%;
  composes: primary from '../../../css-common/colors.css';
}
