.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

/*.h1, .h2, .h3 {
  composes: bold;
}

.p {
  composes: regular;
}
*/

.title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

a {
  color: #FC511F;
}
a:hover {
  text-decoration: underline;
}
