<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClayMaterial" value="../../ClayMaterial.xml"/>
    <add key="ExcelPath" value="Y:\Downloads\TE_Material_Master_-_Clay_Materials.xlsx"/>
    <add key="SheetName" value="Clay Products"/>
    <add key="SubHeaderRowNumber" value="3"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
