.columnTitle {
}

.columnValue {
  margin-left: 0;
  margin-bottom: 24px;
}

.column {
  composes: col-sm-2 from 'flexboxgrid';
}

.columnTitleWithType {
  composes: bold from "../../../css-common/typography.css";
  margin-bottom: 6px;
}

.input {
  composes: input from '../../../css-common/forms.css';
  width: 36px;
}

.subType {
  margin-left: 6px;
}
